.toolbar {
	position: relative;
	left: auto;
}
.toolbar li{
	display: inline;
	margin: 0em 0.5em;
}
.content {
	position: relative;
	right: 6em;
	left: 6em;
	text-align: center;	
}

img[name="googleLogo"] {
	margin: 10em 0em 0.5em;
}

input[name="searchBar"] {
	font-size: 1em;
	width: 35em;
	padding: 0.25em;
	margin: 0.5em;
}

button {
	padding: 0.25em;
	margin: 0.5em;
}
