.content {
	text-align: center;
}

img[name="googleLogo"] {
	padding: 0.5em;
}

input[name="searchBar"] {
	font-size: 1em;
	width: 35em;
	padding: 0.25em;
	margin: 0.5em;
}

button {
	padding: 0.25em;
	margin: 0.5em;
}
